page-new-order {
.title{
    text-align: center;
}
.title2{
    text-align: center;
}
.title{
    text-align: center;
}
.but{
    text-align: center;
    background-color: transparent;
    color:#B71020;
}
.wrapper{
    text-align: center;
}

.wrapper1{
    text-align: center;
    padding-top: 20px;
}

.wrapper2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
.item-cover{
    background: #f304040a;
}

.text-input{
    text-align: center;
}


}
