page-store-locator {
 .frame{
            //padding-top: 40px;
        }
        
        .titleO{
            color:rgb(255, 255, 255) !important;
            position: relative;
            top:10px;
        }
}
