page-order-success {
    .content1{
        background-color: #DF4447
        
    }
    .icon{
        font-size:200px;
        color:white;
    }
    
    .card2{
        text-align: center;
        background-color: #DF4447;
        
    }
    
    .card1{
        text-align: center;
        background-color: #DF4447;
        margin-top: 100px;
    }
    
    .card3{
        text-align: center;
        background-color: #DF4447;
        margin-top: 40px;
    }
    
    .btn-ddc{
        //text-align: center;
        
       
        width:50%;
        border-radius: 27px;
        //border: 2px solid #DF4447;
        color: rgb(255, 255, 255);
        background-color: #C4292C;
    
        
    }
    
    .title{
        color:white;
    }
}
